@font-face {
    font-family: MyNewFont;
    src: url('../font/rz.eot'); /* IE9 Compat Modes */
    src: url('../font/rz.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/rz.woff') format('woff'), /* Modern Browsers */ url('../font/rz.ttf') format('truetype'), /* Safari, Android, iOS */ url('../font/rz.svg') format('svg'); /* Legacy iOS */
}

body {
    width: 6.4rem;
    height: 11.36rem;
    overflow: hidden;
}

/**
音乐图标
 */
.music_logo {
    position: fixed;
    top: 0.2rem;
    right: 0.2rem;
    width: 0.6rem;
    height: 0.6rem;
    z-index: 20;
    -webkit-animation: circle 4s infinite linear; /*匀速 循环*/
    transform-origin: 50% 50%;
    background-image: url("../img/music_logo.png");
    background-size: cover;
    padding: 0;

}
#page-num{
    position: absolute;
    bottom: 2%;
    text-align: center;
    z-index: 20;
    background-color: #000000;
    opacity:0.60;
    color: white;
    padding: 0.1rem;
    right: 0;
}
@-webkit-keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes normal {

}

.hide {
    display: none;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    background-image: url("../img/bg.png");
    background-size: 100% 100%;
}

.page .wrap {
    height: 100%;
}

.img_logo {
    width: 3.16rem;
    height: 1.01rem;
    position: absolute;
    left: 0.2rem;
    top: 0.2rem;

}

.load-container{
    position: absolute;
    width: 6.4rem;
    bottom: 10%;
    color: white;
}
.loading-spinner{
    width: 6.4rem;
    height: 1rem;
    text-align: center;
    font-size: 0.5rem;
}
.loading-spinner > div {
    background-color: #67CF22;
    height: 100%;
    width: 0.2rem;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}
.loading-spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.loading-spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.loading-spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.loading-spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.page-1-1{
    background-color: #0A3170;
}

.page-2-1 {
    /*background-image: url("../img/bg4.jpg");
    background-size:cover;*/
}

/*noinspection CssUnknownTarget*/
.page-2-2 {
    /*background-image: url("../img/bg.jpg");
    background-size:cover;*/
}

.page-3-1 {
    /*background-color:#F3533C;*/
    /*background-image: url("../img/bg4.jpg");
    background-size:cover;*/
}

/*noinspection CssUnknownTarget*/
.page-3-2 {
    /*background-color:#F3533C;*/
    /*background-image: url("../img/bg_blue.jpg");
    background-size:cover;*/
}

.page-4-1 { /*background-color:#FFBF50;*/
    /*background-image: url("../img/bg4.jpg");
    background-size:cover;*/
}

.page-4-1-wrap {

}

/*noinspection CssUnknownTarget*/
.page-4-2 {
    /*background-image: url("../img/17.jpg");
    background-size:cover;*/
}

/*noinspection CssUnknownTarget*/
.page-5-1 {
    /*background-image: none;
    background-size:cover;
    background-color: #004454;*/
}

.page-current {
    z-index: 1;
}

.page-1-1 .img_2 {
    width: 3rem;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0.5rem;
}


.page-1-1 .img_1 {

    width: 4rem;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 1rem;
}
.move-repeat{
    -webkit-animation: STAR-MOVE 3s alternate linear infinite;
    -moz-animation: STAR-MOVE 3s alternate linear infinite;
    animation: STAR-MOVE 3s alternate linear infinite;

}

.page-1-1 .img_3 {

    width: 6.05rem;
    height: 0.78rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0.74rem;
}

.img_6 {
    height: auto;
    width: 0.25rem;
    position: absolute;
    left: 3.2rem;
    bottom: 0.45rem;
    margin-left: -0.12rem;
}

.page-2-1 .img_1 {
    width: 2.39rem;
    position: absolute;
    left: 0.5rem;
    top: 2.5rem;
}

.page-2-1 .img_2 {
    width: 3.3rem;
    position: absolute;
    left: 0.5rem;
    top: 3rem;

    /*top:13%;*/
}
.page-2-1 .img_3 {
    width: 3.89rem;
    position: absolute;
    left: 0.5rem;
    top: 3.5rem;

    /*top:13%;*/
}

.page-3-1 .img_1 {
    width: 4.63rem;
    position: absolute;
    left: 0.5rem;
    top: 2.5rem;
}

.page-3-1 .img_2 {
    width: 5.11rem;
    position: absolute;
    left: 0.5rem;
    top: 5rem;
}


.page-4-1 .img_1 {
    position: absolute;
    width: 5.09rem;
    left: 0.5rem;
    top:2.5rem;

}

.page-4-1 .img_2 {
    width: 5.10rem;
    position: absolute;
    left: 0.5rem;
    top: 5rem;
}


.page-5-1 .img_1 {
    position: absolute;
    width: 5.09rem;
    left: 0.5rem;
    top:2.5rem;

}

.page-5-1 .img_2 {
    width: 5.10rem;
    position: absolute;
    left: 0.5rem;
    top: 5rem;
}

.page-6-1 .img_1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.page-6-1 .img-pro {
    height: 0.3rem;width: auto;
    margin: 0.1rem;
}

.page-7-1 .img_1 {
    margin-top: 0.5rem;
}


.page-8-1 .img_1 {
    width: 5rem;height: auto;
    top: 4rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}


.flash {
    -webkit-animation: twinkling 2s infinite ease-in-out;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes twinkling {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes twinkling {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@-webkit-keyframes STAR-MOVE {

    from {
        -webkit-transform:translateY(0rem)
    }

    to {
        -webkit-transform:translateY(0.2rem)
    }

}

@keyframes STAR-MOVE {
    from {
        -webkit-transform:translateY(0rem)
    }

    to {
        -webkit-transform:translateY(0.2rem)
    }

}


.progress{
    height: 25px;
    background: #262626;
    padding: 5px;
    overflow: visible;
    border-radius: 20px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #7992a8;
    margin-top: 50px;
}
.progress .progress-bar{
    border-radius: 20px;
    position: relative;
    animation: animate-positive 2s;
}
.progress .progress-value{
    display: block;
    padding: 3px 7px;
    font-size: 13px;
    color: #fff;
    border-radius: 4px;
    background: #191919;
    border: 1px solid #000;
    position: absolute;
    top: -40px;
    right: -10px;
}
.progress .progress-value:after{
    content: "";
    border-top: 10px solid #191919;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -6px;
    left: 26%;
}
.progress-bar.active{
    animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;
}
@-webkit-keyframes animate-positive{
    0% { width: 0; }
}
@keyframes animate-positive{
    0% { width: 0; }
}
.language-text{
    color: white;
    font-size: 0.3rem;
    padding-top: 0.8rem;
}


